<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Projeto CES-30</title>
<!-- Bootstrap core CSS-->
<link href="<%= asset('/css/bootstrap.min.css') %>" rel="stylesheet">
<!-- Custom fonts for this template-->
<link href="<%= asset('/font-awesome/css/font-awesome.min.css') %>" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="<%= asset('/css/sb-admin.css') %>" rel="stylesheet">
<link href="<%= asset('/css/custom-implementations.css') %>" rel="stylesheet">
<!-- Selectpicker customization css-->
<link href="<%= asset('/css/bootstrap-select.min.css') %>" rel="stylesheet">

<style type="text/css">
    @media (max-width: 900px) {
        .visible-lg-md {
            display: none;
        }
    }
</style>

<!-- Import data from server -->